%h1 Vacancy
%h2 Name
%h3
  =vacancy.title
%h2 Contacts
%h3
  =vacancy.contacts
%h2 Salary
%h3
  =vacancy.salary
%h2 Status
%h3
  =vacancy.till
%h3
  =link_to "Edit vacancy", vacancy_path(vacancy), method: :patch
