%h1 search results
%h2 Workers full
-if @workers_full.empty?
  %h3 Didn't find anything for you((
-else
  -@workers_full.each do |work|
    =link_to work.name, work
    %br
%h2 Workers partial
-if @workers_partial.empty?
  %h3 Didn't find anything for you((
-else
  -@workers_partial.each do |work|
    =link_to work.name, work
    %br
